# Note: If you are using Azure App Service, go to your app's Configuration,
# and then set the following values into your app's "Application settings".

CLIENT_ID=e44a5f87-2cc6-490f-8675-48ff01a64113
CLIENT_SECRET=e8P8Q~aqSCLzQBgONi9zY1TVPez3L3GYPsXnSdaW

# Expects a full tenant id such as "contoso.onmicrosoft.com", or its GUID
# Or leave it undefined if you are building a multi-tenant app
TENANT_ID=2b897507-ee8c-4575-830b-4f8267c3d307
